html, body{margin:0; padding:0;}

/* ******************** FONT FAM ******************** */
@font-face {
  font-family: 'morefren_standardregular';
  src: url('font/morefren/morefren_standard-webfont.woff2') format('woff2'),
       url('font/morefren/morefren_standard-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothicha_regularregular';
  src: url('font/gothica/othicha-webfont.woff2') format('woff2'),
       url('font/gothica/gothicha-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_monoregular';
  src: url('font/roboto/robotomono-variablefont_wght-webfont.woff2') format('woff2'),
       url('font/roboto/robotomono-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'vantage_regularregular';
  src: url('font/vantage/vantage-webfont.woff2') format('woff2'),
       url('font/vantage/vantage-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'oswaldregular';
  src: url('font/oswald/oswald-variablefont_wght-webfont.woff2') format('woff2'),
       url('font/oswald/oswald-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dashearly';
  src: url('font/dash/dash-early-webfont.woff') format('woff2'),
       url('font/dash/dash-early-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'prestageregular';
  src: url('font/prestage/prestage_regular-webfont.woff2') format('woff2'),
       url('font/prestage/prestage_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'chuterolkbold';
  src: url('font/chuterolk/chuterolk_bold-webfont.woff2') format('woff2'),
       url('font/chuterolk/chuterolk_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kionaregular';
  src: url('font/kiona/kiona-regular-webfont.woff2') format('woff2'),
       url('font/kiona/kiona-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mordova_demoregular';
  src: url('font/mordova/mordovademo-webfont.woff2') format('woff2'),
       url('font/mordova/mordovademo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ******************** SCROLL BAR ******************** */
::-webkit-scrollbar{
    width: 8px;
    background-color: rgba(41, 49, 51, 0.9);
    border-radius: 10px;
  }
  
::-webkit-scrollbar-thumb{
    background-color: black;
    background-color: rgba(41, 49, 51, 0.6);
    border-radius: 10px;
}

/* ******************** LOGO ******************** */
.logo{
  width: 14vh; height: auto;
  margin: 2vh 2vh;
}

/* ******************** NAV BAR ******************** */
.topnav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .topnav_link {
    color: white;
    padding: 12px;
    font-size: 3.5vh;
    letter-spacing: 0.5vh;
    text-decoration: none;
    font-weight: bold;
    font-family: 'prestageregular';
  } /* Put color when selecting on the menu */
  .topnav_link:hover {
    color: #ee6b6e;
  }
  
  /* hide responsive menu */
  #topnav_hamburger_icon,
  #topnav_responsive_menu {
    display: none;
  }
  
#topnav_menu {
  margin-right: 13vh;
}

#topnav_menu ul{
    display: flex;
    flex-direction: row;
}

  @media only screen and (max-width: 760px) {
    /* hide classic menu */
    #topnav_menu {
      display: none;
    }
  
    /* position home link at left and hamburger at right */
    #home_link {
      flex-grow: 1;
    }
  
    /* disable horizontal scrolling  */
    #root {
      position: relative;
      overflow-x: hidden;
      overflow-y: hidden;
    }
  
    /* show responsive menu and position at the right of the screen */
    #topnav_responsive_menu {
      display: block;
      position: absolute;
      margin: 0;
      right: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
  
      z-index: 99;
  
      transform-origin: 0% 0%;
      transform: translate(200%, 0);
  
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
  
    #topnav_responsive_menu ul {
      display: flex;
      flex-direction: column;
  
      position: absolute;
      margin: 0;
      right: 0;
      top: 0;
  
      min-width: 50vw;
      height: 100vh;
      padding: 56px 0 0;
  
      text-align: center;
  
      background: #ededed;
      
      letter-spacing: 0.5vh;
      font-size: 4vh;
      font-weight: bold;
      font-family: 'prestageregular';
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
    }
  
    #topnav_responsive_menu li {
      padding: 12px 24px;
    }
  
    #topnav_responsive_menu a {
      white-space: nowrap;
      color: #333;
      text-decoration: none;
    }
    
    /* Put color when selecting on the resp menu */
    #topnav_responsive_menu a:hover {
      color: #f01e2c;
    }
  
    /* And let's slide it in from the right */
    #topnav_responsive_menu.open {
      transform: none;
      position: fixed;
    }
  
    /* ******************** HAMBURGER ICON ******************** */
    /* Define size and position of the hamburger link */
    #topnav_hamburger_icon {
      display: block;
      position: relative;
      margin: 16px;
      width: 33px;
      height: 28px;
  
      z-index: 100;
  
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
    }
  
    /* define the style (size, color, position, animation, ...) of the 3 spans */
    #topnav_hamburger_icon span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      margin-bottom: 5px;
  
      background: #ededed;
      border-radius: 3px;
  
      z-index: 100;
  
      opacity: 1;
      left: 0;
  
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }
  
    /* set the 3 spans position to look like a hamburger */
    #topnav_hamburger_icon span:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left top;
      -moz-transform-origin: left top;
      -o-transform-origin: left top;
      transform-origin: left top;
    }
    #topnav_hamburger_icon span:nth-child(2) {
      top: 12px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    #topnav_hamburger_icon span:nth-child(3) {
      top: 24px;
      -webkit-transform-origin: left bottom;
      -moz-transform-origin: left bottom;
      -o-transform-origin: left bottom;
      transform-origin: left bottom;
    }
  
    /* change color when opening the menu */
    #topnav_hamburger_icon.open span {
      background: #333;
    }
  
    /* the first span rotates 45° \ */
    #topnav_hamburger_icon.open span:nth-child(1) {
      width: 110%;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  
    /* the second span disappears */
    #topnav_hamburger_icon.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
  
    /* the last span rotates -45° / */
    #topnav_hamburger_icon.open span:nth-child(3) {
      width: 110%;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }

/* ******************** PICTURE ******************** */
.pic{
  height: 75vh;
  background-color: black;
  box-shadow: 0 0 10px black;
}
img{
  width: 90%;
}
.img{
  display: flex;
  align-items: center;
  justify-content: center;
}
.title{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  letter-spacing: 1vh;
  font-family: 'mordova_demoregular';
  font-size: 10vh;
  z-index: 3;
  color: rgba(240, 30, 44, 0.6)
}

@media (min-width: 760px) {
  img{
    margin: 0 0 3vh 0;
    width: 110vh;
  }
  .img{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 35%;
  }
}

@media(max-height: 520px){
  .pic{
    height: 440px;
    background-color: black;
  }
}

/* ******************** GRAPH ******************** */
.chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin-right: 10vh; margin-top: 30px;
}

@media (max-width: 600px) {
  .chart-container{
    width: 80%;
    margin-right: 5%; margin-top: 30px;
  }
}

/* ******************** TAB ******************** */
.msg{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 14vh; padding-bottom: 50px;
}

.msg2{
  color: white;
  padding-top: 50px; padding-bottom: 25px;
}
.msg-title{
  font-family: 'kionaregular';
  font-size: 30px;
}

.clasM{
    width: 100%; height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 13vh;
    background-color: #2B2B2B;
}

table {
    font-family: 'chuterolkbold';
    border-collapse: collapse;
    width: 650px;
    margin: auto;
    margin-bottom: 17vh;
}
  
  td, th {
    padding: 8px; color: #383E42;
  }
  
  tr:nth-child(even) {
    background-color: #D8D8D8;
  }
  tr:nth-child(odd) {
    background-color: #dddddd;
  }
  
  th {
    background-color: #242424;
    color: #dddddd;
    font-size: 17px;
    font-family: 'prestageregular';
    letter-spacing: 0.2vh;
}

  td{
    color: #2B2B2B;
    font-family:'Courier New', Courier, monospace;
    font-size: 11px;
}

tr:first-child th:first-child {
	border-radius: 6px 0 0 0;
}

tr:first-child th:last-child {
	border-radius: 0 6px 0 0;
}

tr:last-child td:last-child {
	border-radius: 0 0 4px 0;
}

tr:last-child td:first-child {
	border-radius: 0 0 0 4px;
}

@media (max-width: 850px) {
  table{
    width:70%;
  }
}
/* ******************** FOOTER ******************** */

.ft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; height: 20vh;
  padding-top: 1vh;
  background-color: #403F3F;
  position: relative;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
}

.t-info{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.f-title{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-family: 'prestageregular';
  color: #cecece;
}

.f-txt{
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: white;
  font-size: 10px;
  font-family: 'kionaregular';
  text-align: center;
}

.f-txt2{
  padding: 2.5vh 0 1vh 0;
  color: white;
  font-size: 9px;
  letter-spacing: 0.5vh;
  font-family: 'prestageregular';
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{color: #f01e2c;}

@media (max-height: 340px){
  .ft{height:110px;}
}